#digital_img{
    width: 30vw;
    /* width: 50vw; */
}
.digitial_main{
    display: flex;

}
.digital-h{
    padding-left: 10px;
}
@media (max-width:900px) {

   .digitial_main{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;

   }
   .digital-h{
    width: 98vw;
   
    align-items: center;
    justify-content: center;
    display: flex;
   }
   .digital_img{
    display: flex;
    flex-direction: column;
   }
   .paraofdigital{
    width: 90vw;
   }
    }