.ServicePageHeading h1{
font-size: 5vw;
font-weight: 700;
flex-direction: column;
text-decoration: underline;
display: flex;
justify-content: center;
align-items: center;
}
.ServicePageHeading h2{
font-size:1vw;
text-decoration: wavy;
display: flex;
align-items: center;
justify-content: center;

}
.servicesPG{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid pink;
    border-radius: 5%;
    width: 30vw;
}
.servicesIMG{
    width: 20vw;
}
.mainService{
    background-color: white;
    padding: 50px;
    color: black;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
  }
  
  .box-image {
    width: 100%;
    height: auto;
  }
  
  .box-title {
    font-size: 1.5em;
    text-align: center;
    display: inline-flex;
    margin: 16px 0;
  }
  
  .box-description {
    font-size: 1em;
    padding: 0 16px 16px;
    color: #555;
  }
  
@media (max-width:600px) {
.ServicePageHeading h1,h2{
    display: flex;
    }

.ServicePageHeading h2{
    font-size: 15px;
}

.ServiceDetail{
    display: flex;
    flex-wrap: wrap;
    width:70vw;
}
.ServiceDetail img{
   height: 30vh;
   width: fit-content;
}




    }